@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.bottom-\[0\%\]{
  bottom: 0%;
}

.bottom-\[25\%\]{
  bottom: 25%;
}

.left-\[-0\.5px\]{
  left: -0.5px;
}

.left-\[0\%\]{
  left: 0%;
}

.left-\[0\.1px\]{
  left: 0.1px;
}

.left-\[0px\]{
  left: 0px;
}

.left-\[102px\]{
  left: 102px;
}

.left-\[104px\]{
  left: 104px;
}

.left-\[106\.1px\]{
  left: 106.1px;
}

.left-\[109px\]{
  left: 109px;
}

.left-\[11\.4px\]{
  left: 11.4px;
}

.left-\[110px\]{
  left: 110px;
}

.left-\[116px\]{
  left: 116px;
}

.left-\[1185px\]{
  left: 1185px;
}

.left-\[11px\]{
  left: 11px;
}

.left-\[1231px\]{
  left: 1231px;
}

.left-\[124\.7px\]{
  left: 124.7px;
}

.left-\[126\.1px\]{
  left: 126.1px;
}

.left-\[12px\]{
  left: 12px;
}

.left-\[130\.3px\]{
  left: 130.3px;
}

.left-\[130px\]{
  left: 130px;
}

.left-\[13px\]{
  left: 13px;
}

.left-\[14px\]{
  left: 14px;
}

.left-\[1525px\]{
  left: 1525px;
}

.left-\[165px\]{
  left: 165px;
}

.left-\[16px\]{
  left: 16px;
}

.left-\[18\.6px\]{
  left: 18.6px;
}

.left-\[18\.9px\]{
  left: 18.9px;
}

.left-\[187\.8px\]{
  left: 187.8px;
}

.left-\[18px\]{
  left: 18px;
}

.left-\[19\.9px\]{
  left: 19.9px;
}

.left-\[192\.7px\]{
  left: 192.7px;
}

.left-\[195\.5px\]{
  left: 195.5px;
}

.left-\[195px\]{
  left: 195px;
}

.left-\[198px\]{
  left: 198px;
}

.left-\[1px\]{
  left: 1px;
}

.left-\[20px\]{
  left: 20px;
}

.left-\[25\%\]{
  left: 25%;
}

.left-\[250\.9px\]{
  left: 250.9px;
}

.left-\[253\.6px\]{
  left: 253.6px;
}

.left-\[253px\]{
  left: 253px;
}

.left-\[254px\]{
  left: 254px;
}

.left-\[260\.7px\]{
  left: 260.7px;
}

.left-\[260px\]{
  left: 260px;
}

.left-\[264px\]{
  left: 264px;
}

.left-\[278px\]{
  left: 278px;
}

.left-\[289px\]{
  left: 289px;
}

.left-\[305\.8px\]{
  left: 305.8px;
}

.left-\[307\.9px\]{
  left: 307.9px;
}

.left-\[325\.8px\]{
  left: 325.8px;
}

.left-\[325px\]{
  left: 325px;
}

.left-\[32px\]{
  left: 32px;
}

.left-\[33px\]{
  left: 33px;
}

.left-\[34\.7px\]{
  left: 34.7px;
}

.left-\[345px\]{
  left: 345px;
}

.left-\[348px\]{
  left: 348px;
}

.left-\[364\.2px\]{
  left: 364.2px;
}

.left-\[364\.5px\]{
  left: 364.5px;
}

.left-\[385px\]{
  left: 385px;
}

.left-\[390px\]{
  left: 390px;
}

.left-\[391px\]{
  left: 391px;
}

.left-\[41px\]{
  left: 41px;
}

.left-\[43px\]{
  left: 43px;
}

.left-\[46px\]{
  left: 46px;
}

.left-\[47px\]{
  left: 47px;
}

.left-\[49px\]{
  left: 49px;
}

.left-\[50px\]{
  left: 50px;
}

.left-\[530px\]{
  left: 530px;
}

.left-\[53px\]{
  left: 53px;
}

.left-\[56px\]{
  left: 56px;
}

.left-\[596px\]{
  left: 596px;
}

.left-\[610px\]{
  left: 610px;
}

.left-\[62\.3px\]{
  left: 62.3px;
}

.left-\[64px\]{
  left: 64px;
}

.left-\[65\.2px\]{
  left: 65.2px;
}

.left-\[65px\]{
  left: 65px;
}

.left-\[66px\]{
  left: 66px;
}

.left-\[727px\]{
  left: 727px;
}

.left-\[796px\]{
  left: 796px;
}

.left-\[800px\]{
  left: 800px;
}

.left-\[80px\]{
  left: 80px;
}

.left-\[852px\]{
  left: 852px;
}

.left-\[968px\]{
  left: 968px;
}

.left-\[calc\(50\%_\+_190px\)\]{
  left: calc(50% + 190px);
}

.left-\[calc\(50\%_-_138\.5px\)\]{
  left: calc(50% - 138.5px);
}

.left-\[calc\(50\%_-_146px\)\]{
  left: calc(50% - 146px);
}

.left-\[calc\(50\%_-_172\.5px\)\]{
  left: calc(50% - 172.5px);
}

.left-\[calc\(50\%_-_25\.5px\)\]{
  left: calc(50% - 25.5px);
}

.left-\[calc\(50\%_-_25px\)\]{
  left: calc(50% - 25px);
}

.left-\[calc\(50\%_-_3px\)\]{
  left: calc(50% - 3px);
}

.left-\[calc\(50\%_-_5\.5px\)\]{
  left: calc(50% - 5.5px);
}

.left-\[calc\(50\%_-_960px\)\]{
  left: calc(50% - 960px);
}

.right-\[25\%\]{
  right: 25%;
}

.right-\[70\%\]{
  right: 70%;
}

.top-\[0\%\]{
  top: 0%;
}

.top-\[0px\]{
  top: 0px;
}

.top-\[100px\]{
  top: 100px;
}

.top-\[108px\]{
  top: 108px;
}

.top-\[1090px\]{
  top: 1090px;
}

.top-\[110px\]{
  top: 110px;
}

.top-\[1172px\]{
  top: 1172px;
}

.top-\[118px\]{
  top: 118px;
}

.top-\[11px\]{
  top: 11px;
}

.top-\[12\.5px\]{
  top: 12.5px;
}

.top-\[12px\]{
  top: 12px;
}

.top-\[1340px\]{
  top: 1340px;
}

.top-\[138\.3px\]{
  top: 138.3px;
}

.top-\[138\.9px\]{
  top: 138.9px;
}

.top-\[13px\]{
  top: 13px;
}

.top-\[142\.1px\]{
  top: 142.1px;
}

.top-\[1483px\]{
  top: 1483px;
}

.top-\[148px\]{
  top: 148px;
}

.top-\[14px\]{
  top: 14px;
}

.top-\[150px\]{
  top: 150px;
}

.top-\[160px\]{
  top: 160px;
}

.top-\[166\.9px\]{
  top: 166.9px;
}

.top-\[16px\]{
  top: 16px;
}

.top-\[176px\]{
  top: 176px;
}

.top-\[177px\]{
  top: 177px;
}

.top-\[17px\]{
  top: 17px;
}

.top-\[184px\]{
  top: 184px;
}

.top-\[1px\]{
  top: 1px;
}

.top-\[20\.8px\]{
  top: 20.8px;
}

.top-\[208\.3px\]{
  top: 208.3px;
}

.top-\[211px\]{
  top: 211px;
}

.top-\[21px\]{
  top: 21px;
}

.top-\[222px\]{
  top: 222px;
}

.top-\[235\.6px\]{
  top: 235.6px;
}

.top-\[236px\]{
  top: 236px;
}

.top-\[23px\]{
  top: 23px;
}

.top-\[25\%\]{
  top: 25%;
}

.top-\[256px\]{
  top: 256px;
}

.top-\[25px\]{
  top: 25px;
}

.top-\[276\.5px\]{
  top: 276.5px;
}

.top-\[276px\]{
  top: 276px;
}

.top-\[277\.7px\]{
  top: 277.7px;
}

.top-\[27px\]{
  top: 27px;
}

.top-\[28px\]{
  top: 28px;
}

.top-\[296px\]{
  top: 296px;
}

.top-\[2px\]{
  top: 2px;
}

.top-\[309\.8px\]{
  top: 309.8px;
}

.top-\[31px\]{
  top: 31px;
}

.top-\[32px\]{
  top: 32px;
}

.top-\[33\.7px\]{
  top: 33.7px;
}

.top-\[333px\]{
  top: 333px;
}

.top-\[336px\]{
  top: 336px;
}

.top-\[347\.1px\]{
  top: 347.1px;
}

.top-\[347\.5px\]{
  top: 347.5px;
}

.top-\[362px\]{
  top: 362px;
}

.top-\[36px\]{
  top: 36px;
}

.top-\[386\.9px\]{
  top: 386.9px;
}

.top-\[39px\]{
  top: 39px;
}

.top-\[3px\]{
  top: 3px;
}

.top-\[4\.5px\]{
  top: 4.5px;
}

.top-\[40px\]{
  top: 40px;
}

.top-\[416px\]{
  top: 416px;
}

.top-\[42\.8px\]{
  top: 42.8px;
}

.top-\[42px\]{
  top: 42px;
}

.top-\[43\.8px\]{
  top: 43.8px;
}

.top-\[444px\]{
  top: 444px;
}

.top-\[46px\]{
  top: 46px;
}

.top-\[496px\]{
  top: 496px;
}

.top-\[4px\]{
  top: 4px;
}

.top-\[50px\]{
  top: 50px;
}

.top-\[53\.8px\]{
  top: 53.8px;
}

.top-\[55\.2px\]{
  top: 55.2px;
}

.top-\[59px\]{
  top: 59px;
}

.top-\[5px\]{
  top: 5px;
}

.top-\[601px\]{
  top: 601px;
}

.top-\[60px\]{
  top: 60px;
}

.top-\[642px\]{
  top: 642px;
}

.top-\[65px\]{
  top: 65px;
}

.top-\[68\.1px\]{
  top: 68.1px;
}

.top-\[69\.1px\]{
  top: 69.1px;
}

.top-\[69\.4px\]{
  top: 69.4px;
}

.top-\[6px\]{
  top: 6px;
}

.top-\[74px\]{
  top: 74px;
}

.top-\[75\.5px\]{
  top: 75.5px;
}

.top-\[771px\]{
  top: 771px;
}

.top-\[7px\]{
  top: 7px;
}

.top-\[81\.4px\]{
  top: 81.4px;
}

.top-\[869px\]{
  top: 869px;
}

.top-\[881px\]{
  top: 881px;
}

.top-\[8px\]{
  top: 8px;
}

.top-\[92px\]{
  top: 92px;
}

.top-\[934px\]{
  top: 934px;
}

.top-\[96px\]{
  top: 96px;
}

.top-\[99px\]{
  top: 99px;
}

.box-border{
  box-sizing: border-box;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.h-10{
  height: 2.5rem;
}

.h-12{
  height: 3rem;
}

.h-16{
  height: 4rem;
}

.h-3{
  height: 0.75rem;
}

.h-3\/6{
  height: 50%;
}

.h-40{
  height: 10rem;
}

.h-6{
  height: 1.5rem;
}

.h-8{
  height: 2rem;
}

.h-\[1\.4px\]{
  height: 1.4px;
}

.h-\[102\.3px\]{
  height: 102.3px;
}

.h-\[104px\]{
  height: 104px;
}

.h-\[106\.1px\]{
  height: 106.1px;
}

.h-\[126\.9px\]{
  height: 126.9px;
}

.h-\[137\.4px\]{
  height: 137.4px;
}

.h-\[152\.1px\]{
  height: 152.1px;
}

.h-\[171px\]{
  height: 171px;
}

.h-\[172px\]{
  height: 172px;
}

.h-\[188\.4px\]{
  height: 188.4px;
}

.h-\[195\.9px\]{
  height: 195.9px;
}

.h-\[228\.9px\]{
  height: 228.9px;
}

.h-\[2310px\]{
  height: 2310px;
}

.h-\[236px\]{
  height: 236px;
}

.h-\[239\.2px\]{
  height: 239.2px;
}

.h-\[25\.9px\]{
  height: 25.9px;
}

.h-\[256\.6px\]{
  height: 256.6px;
}

.h-\[263px\]{
  height: 263px;
}

.h-\[26px\]{
  height: 26px;
}

.h-\[27px\]{
  height: 27px;
}

.h-\[282px\]{
  height: 282px;
}

.h-\[284\.2px\]{
  height: 284.2px;
}

.h-\[29px\]{
  height: 29px;
}

.h-\[33\.1px\]{
  height: 33.1px;
}

.h-\[337\.9px\]{
  height: 337.9px;
}

.h-\[338\.8px\]{
  height: 338.8px;
}

.h-\[347\.1px\]{
  height: 347.1px;
}

.h-\[348\.5px\]{
  height: 348.5px;
}

.h-\[352px\]{
  height: 352px;
}

.h-\[370px\]{
  height: 370px;
}

.h-\[373\.5px\]{
  height: 373.5px;
}

.h-\[420px\]{
  height: 420px;
}

.h-\[46px\]{
  height: 46px;
}

.h-\[479px\]{
  height: 479px;
}

.h-\[47px\]{
  height: 47px;
}

.h-\[505px\]{
  height: 505px;
}

.h-\[50px\]{
  height: 50px;
}

.h-\[51px\]{
  height: 51px;
}

.h-\[52px\]{
  height: 52px;
}

.h-\[54px\]{
  height: 54px;
}

.h-\[557px\]{
  height: 557px;
}

.h-\[562px\]{
  height: 562px;
}

.h-\[57px\]{
  height: 57px;
}

.h-\[60px\]{
  height: 60px;
}

.h-\[61px\]{
  height: 61px;
}

.h-\[71\.4px\]{
  height: 71.4px;
}

.h-\[725px\]{
  height: 725px;
}

.h-\[72px\]{
  height: 72px;
}

.h-\[73px\]{
  height: 73px;
}

.h-\[74px\]{
  height: 74px;
}

.h-\[76px\]{
  height: 76px;
}

.h-\[81px\]{
  height: 81px;
}

.h-\[82px\]{
  height: 82px;
}

.h-\[930px\]{
  height: 930px;
}

.h-full{
  height: 100%;
}

.h-px{
  height: 1px;
}

.max-h-full{
  max-height: 100%;
}

.w-10{
  width: 2.5rem;
}

.w-12{
  width: 3rem;
}

.w-16{
  width: 4rem;
}

.w-2{
  width: 0.5rem;
}

.w-20{
  width: 5rem;
}

.w-3{
  width: 0.75rem;
}

.w-6{
  width: 1.5rem;
}

.w-6\/12{
  width: 50%;
}

.w-8{
  width: 2rem;
}

.w-\[10\.9px\]{
  width: 10.9px;
}

.w-\[1006px\]{
  width: 1006px;
}

.w-\[1007px\]{
  width: 1007px;
}

.w-\[103px\]{
  width: 103px;
}

.w-\[104px\]{
  width: 104px;
}

.w-\[1080px\]{
  width: 1080px;
}

.w-\[1180px\]{
  width: 1180px;
}

.w-\[134px\]{
  width: 134px;
}

.w-\[14\.6px\]{
  width: 14.6px;
}

.w-\[140px\]{
  width: 140px;
}

.w-\[15\.2px\]{
  width: 15.2px;
}

.w-\[15\.3px\]{
  width: 15.3px;
}

.w-\[162px\]{
  width: 162px;
}

.w-\[169px\]{
  width: 169px;
}

.w-\[182px\]{
  width: 182px;
}

.w-\[187px\]{
  width: 187px;
}

.w-\[196px\]{
  width: 196px;
}

.w-\[201px\]{
  width: 201px;
}

.w-\[202px\]{
  width: 202px;
}

.w-\[205px\]{
  width: 205px;
}

.w-\[21px\]{
  width: 21px;
}

.w-\[22px\]{
  width: 22px;
}

.w-\[23px\]{
  width: 23px;
}

.w-\[245px\]{
  width: 245px;
}

.w-\[254px\]{
  width: 254px;
}

.w-\[292px\]{
  width: 292px;
}

.w-\[299px\]{
  width: 299px;
}

.w-\[29px\]{
  width: 29px;
}

.w-\[30\%\]{
  width: 30%;
}

.w-\[30px\]{
  width: 30px;
}

.w-\[312px\]{
  width: 312px;
}

.w-\[313px\]{
  width: 313px;
}

.w-\[33\.5px\]{
  width: 33.5px;
}

.w-\[33\.8px\]{
  width: 33.8px;
}

.w-\[335\.7px\]{
  width: 335.7px;
}

.w-\[33px\]{
  width: 33px;
}

.w-\[345px\]{
  width: 345px;
}

.w-\[34px\]{
  width: 34px;
}

.w-\[350px\]{
  width: 350px;
}

.w-\[395px\]{
  width: 395px;
}

.w-\[398\.5px\]{
  width: 398.5px;
}

.w-\[398px\]{
  width: 398px;
}

.w-\[39px\]{
  width: 39px;
}

.w-\[410px\]{
  width: 410px;
}

.w-\[41px\]{
  width: 41px;
}

.w-\[453px\]{
  width: 453px;
}

.w-\[455px\]{
  width: 455px;
}

.w-\[456px\]{
  width: 456px;
}

.w-\[50px\]{
  width: 50px;
}

.w-\[51px\]{
  width: 51px;
}

.w-\[520px\]{
  width: 520px;
}

.w-\[58px\]{
  width: 58px;
}

.w-\[6\.9px\]{
  width: 6.9px;
}

.w-\[60px\]{
  width: 60px;
}

.w-\[64\.9px\]{
  width: 64.9px;
}

.w-\[65px\]{
  width: 65px;
}

.w-\[72px\]{
  width: 72px;
}

.w-\[75px\]{
  width: 75px;
}

.w-\[83px\]{
  width: 83px;
}

.w-\[86px\]{
  width: 86px;
}

.w-\[89\.9px\]{
  width: 89.9px;
}

.w-\[90px\]{
  width: 90px;
}

.w-\[924px\]{
  width: 924px;
}

.w-\[925px\]{
  width: 925px;
}

.w-\[953px\]{
  width: 953px;
}

.w-\[965px\]{
  width: 965px;
}

.w-full{
  width: 100%;
}

.max-w-full{
  max-width: 100%;
}

.shrink-0{
  flex-shrink: 0;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.items-start{
  align-items: flex-start;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-center{
  justify-content: center;
}

.gap-\[16px\]{
  gap: 16px;
}

.gap-\[24px\]{
  gap: 24px;
}

.gap-\[4px\]{
  gap: 4px;
}

.gap-\[50px\]{
  gap: 50px;
}

.gap-\[8px\]{
  gap: 8px;
}

.overflow-hidden{
  overflow: hidden;
}

.rounded-21xl{
  border-radius: 40px;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.rounded-\[10px\]{
  border-radius: 10px;
}

.rounded-\[22px\]{
  border-radius: 22px;
}

.rounded-\[50\%\]{
  border-radius: 50%;
}

.rounded-lg{
  border-radius: 18px;
}

.rounded-xl{
  border-radius: 20px;
}

.rounded-b-none{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.rounded-t-md{
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.rounded-bl-21xl{
  border-bottom-left-radius: 40px;
}

.rounded-br-none{
  border-bottom-right-radius: 0px;
}

.rounded-tl-21xl{
  border-top-left-radius: 40px;
}

.rounded-tr-none{
  border-top-right-radius: 0px;
}

.border-\[1px\]{
  border-width: 1px;
}

.border-\[2px\]{
  border-width: 2px;
}

.border-\[3px\]{
  border-width: 3px;
}

.border-t-\[1px\]{
  border-top-width: 1px;
}

.border-solid{
  border-style: solid;
}

.border-color-gray{
  --tw-border-opacity: 1;
  border-color: rgb(245 245 245 / var(--tw-border-opacity));
}

.border-color-gray-1{
  --tw-border-opacity: 1;
  border-color: rgb(160 152 174 / var(--tw-border-opacity));
}

.border-color-orange{
  --tw-border-opacity: 1;
  border-color: rgb(251 125 91 / var(--tw-border-opacity));
}

.border-color-yellow{
  --tw-border-opacity: 1;
  border-color: rgb(252 196 62 / var(--tw-border-opacity));
}

.bg-color-background{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 255 / var(--tw-bg-opacity));
}

.bg-color-gray{
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.bg-color-gray-2{
  --tw-bg-opacity: 1;
  background-color: rgb(193 187 235 / var(--tw-bg-opacity));
}

.bg-color-orange{
  --tw-bg-opacity: 1;
  background-color: rgb(251 125 91 / var(--tw-bg-opacity));
}

.bg-color-purple{
  --tw-bg-opacity: 1;
  background-color: rgb(77 68 181 / var(--tw-bg-opacity));
}

.bg-color-text{
  --tw-bg-opacity: 1;
  background-color: rgb(48 57 114 / var(--tw-bg-opacity));
}

.bg-color-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-color-yellow{
  --tw-bg-opacity: 1;
  background-color: rgb(252 196 62 / var(--tw-bg-opacity));
}

.bg-linear-transparent-purple-10{
  background-color: rgba(77, 68, 181, 0.1);
}

.object-contain{
  object-fit: contain;
}

.p-2{
  padding: 0.5rem;
}

.p-2\.5{
  padding: 0.625rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-0{
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-0\.5{
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2\.5{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-\[23px\]{
  padding-top: 23px;
  padding-bottom: 23px;
}

.pl-0{
  padding-left: 0px;
}

.pr-8{
  padding-right: 2rem;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.font-text-text-2-regular{
  font-family: Cairo;
}

.font-text-text-regular-2{
  font-family: Poppins;
}

.text-17xl{
  font-size: 36px;
}

.text-5xl{
  font-size: 24px;
}

.text-\[28px\]{
  font-size: 28px;
}

.text-lg{
  font-size: 18px;
}

.text-sm{
  font-size: 14px;
}

.font-medium{
  font-weight: 500;
}

.font-semibold{
  font-weight: 600;
}

.leading-\[24px\]{
  line-height: 24px;
}

.text-color-gray-1{
  --tw-text-opacity: 1;
  color: rgb(160 152 174 / var(--tw-text-opacity));
}

.text-color-gray-2{
  --tw-text-opacity: 1;
  color: rgb(193 187 235 / var(--tw-text-opacity));
}

.text-color-main{
  --tw-text-opacity: 1;
  color: rgb(54 59 100 / var(--tw-text-opacity));
}

.text-color-orange{
  --tw-text-opacity: 1;
  color: rgb(251 125 91 / var(--tw-text-opacity));
}

.text-color-purple{
  --tw-text-opacity: 1;
  color: rgb(77 68 181 / var(--tw-text-opacity));
}

.text-color-text{
  --tw-text-opacity: 1;
  color: rgb(48 57 114 / var(--tw-text-opacity));
}

.text-color-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.shadow-\[0px_20px_50px_rgba\(191\2c _21\2c _108\2c _0\.05\)\]{
  --tw-shadow: 0px 20px 50px rgba(191, 21, 108, 0.05);
  --tw-shadow-colored: 0px 20px 50px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0px_7px_16px_rgba\(0\2c _0\2c _0\2c _0\.14\)\]{
  --tw-shadow: 0px 7px 16px rgba(0, 0, 0, 0.14);
  --tw-shadow-colored: 0px 7px 16px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.\[text-shadow\:0px_4px_4px_rgba\(0\2c _0\2c _0\2c _0\.25\)\]{
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body{
  margin: 0px;
  line-height: normal;
}

*,
::before,
::after {
  border-width: 0;
}
